.m-auto {
  margin: auto;
}
.text-center {
  text-align: center;
}

.h-80{height: 80px;}

th {
  color: rgb(104, 116, 125);
  font-size: 1.2rem;
  font-family: "Arial Black", Gadget, sans-serif;
}

.theme-color {
  color: rgb(104, 116, 125);
  font-family: "Arial Black", Gadget, sans-serif;
}
a {
  color: #ffffff !important;
  /*text-shadow: 2px 2px #30ab21;*/
}

.table-shadow {
  box-shadow: 0px 2px 11px 1px black;
}


.nav-bg{
    background: #0a7703b5!important;
}

.ml-5r{margin-left:5rem}

.mt-10r{margin-top: 10rem;}

.pt-3{padding-top:3px;}

.pull-right{float: right;}
.fs-2r{font-size:2rem}

.carousel-caption h3{
  color: white; font-weight: bold;
}