.statBlock{

    /*width:50%;*/
    height:500px;
    padding: 15px;
    text-align: center;
    background:#343a40!important;
    color:white;
    border-radius: 100px;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.stats{
    display: block;
}

.mini-block{
    height: 15rem;
    width: 20rem;
    background: white;
    padding: 20px;
    border-radius: 35px;
}


.carousel-control-prev{ left: 16% !important;}
.carousel-control-next{ right: 16% !important;}
